
*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    
}

html {
    min-width: 550px;
    position: relative;
    }
body {
    background-color: #1E1E1E;
}
wrapper{
    display: inline-block;
}



.wrapper  .sidebar{  
    background: #262626;
    border-radius: 50px;
    position:fixed;
    margin-top: 35px;
    width: 333px;
    height: 100%;
    transition: all 0.5s ease;
    display: inline-block;
}


.wrapper .sidebar .profile{
    margin-bottom: 30px;
    text-align: center;
}

.wrapper .sidebar .profile img{
    display: block;
    width: 222px;
    height: 222px;
    border-radius: 50%;
    margin-top: 56px;
    margin-right: 56px;
    margin-left: 56px;
}

.wrapper .sidebar .profile h3{
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 24px;
    margin-right: 100px;
    margin-left: 100px;
}

.wrapper .sidebar .profile p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-top: 10px;
    margin-right: 123px;
    margin-left: 123px;
    /* identical to box height */
    color: rgba(255, 255, 255, 0.5);
}


.wrapper .sidebar ul li a{
    display: block;
    padding: 13px 30px;
    font-family: 'Poppins';
    text-align: center;
    font-style: normal;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    background: #111111;
    border-radius: 30px;
    position: relative;
    margin: 20px 20px;
}

.wrapper .sidebar ul li a .icon{
    color: #dee4ec;
    width: 30px;
    display: inline-block;
}
/* Style page content */
.wrapper .main {

    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 1323px;
    height: 588px;
    margin-left: 374px;
    margin-top: 35px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  
  }

.wrapper .main  p{
    display: inline-block;
    position: relative;
    width: 472px;
    height: 430px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin-left: 53px;
    margin-bottom: 31px;
    margin-top: 35px;
    color: rgba(255, 255, 255, 0.5);
}
.wrapper .main  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: underline;
  }

.wrapper .main img{
    display: inline-block;
    position:relative;
    width: 722px;
    height: 430px;
    margin-left: 31px;
    margin-top: 35px;
    
   
}

.wrapper .main  h3{
    
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    margin-top: 56px;
    margin-left: 53px;
}

/* Style page content */
.wrapper .main {

    display: inline-block;
    box-sizing: border-box;
    width: 1323px;
  
    position: relative;
    margin-left: 374px;
    margin-top: 35px;
    margin-top: 35px;
    background: #262626;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
  }
.wrapper .main h3{
    
    white-space: nowrap;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;
    border-radius: 50px;
    margin-top: 37px;
    margin-left: 56px;
}
.wrapper .main th, td {
    padding: 1%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    
    border-left:1px solid rgba(255, 255, 255, 0.5);;
    color: rgba(255, 255, 255, 0.5);
    
    text-align: left;
}
.wrapper .main table {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    width: 1227px;
    height: 331px;
    margin-left: 62px;
    margin-top: 18px;
    margin-bottom: 35px;
}

.wrapper .main  th {
    border-left:1px solid rgba(255, 255, 255, 0.5);;
    border-bottom:1px solid rgba(255, 255, 255, 0.5);
}
.wrapper .main  th:first-child {
    border-left:none;
}
.wrapper .main  td:first-child {
    border-left:none;
}

